/out
/logs
.idea/
*.iml
target/
overlays/
tmp/
.command
*.log
*.lnk
*.orig
*.ini
*.pdb
.bowerrc
/classes
package-lock.json
node_modules/
.DS_Store/
.history/
proxy.config.js
phantomjsdriver.log
rebel.xml
rebel-remote.xml
dependency-reduced-pom.xml
.flattened-pom.xml
**/application-local.yml